.sidebar {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  position: relative; /* add relative positioning for resize border */
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
  border-right: 1px solid #ccc;
}

.resize-border {
  position: absolute;
  top: 0;
  left: -5px;
  padding-left: 5px;
  height: 100%;
  cursor: ew-resize;
}

.resize-border-line {
  height: 100%;
  border-left: 1px solid lightgray;
  padding-right: 10px;
  transition: border-left 0.3s ease;
}

.resize-border:hover .resize-border-line,
.resize-border:active .resize-border-line {
  border-left: 3px solid rgb(64, 64, 202);
}

.resize-border.default-border:active .resize-border-line {
  border-left: 5px solid rgb(64, 64, 202);
}
